<!-- ============================================================== -->
<!-- Start Page Content Detalle usuario-->
<!-- ============================================================== -->
<div class="row animated fadeIn">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card" align="center">
      <!-- <img class="card-img" src="../assets/images/background/socialbg.jpg" alt="Card image"> -->
      <div class="card-body">
        <div class="align-self-center">
          <img [src]="usuario.img | imagen" class="img-circle" width="100">
          <h4 class="card-title">{{usuario.nombre}}</h4>
          <h6 class="card-subtitle">{{usuario.email}}</h6>
          <p class="card-text">{{usuario.area}}</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <small class="text-muted">Email</small>
        <h6>{{usuario.email}}</h6>
        <small class="text-muted p-t-30 db">Teléfono</small>
        <h6>{{usuario.telefono}}</h6>
        <small class="text-muted p-t-30 db">Dirección</small>
        <h6>{{usuario.direccion}}</h6>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Actividades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Configuración</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active animated fadeIn" id="home" role="tabpanel">
          <div class="card-body">
            <div class="profiletimeline">
              <div class="sl-item">
                <div class="sl-left">
                  <img src="../assets/images/users/1.jpg" alt="user" class="img-circle" /> </div>
                <div class="sl-right">
                  <div>
                    <a href="#" class="link">John Doe</a>
                    <span class="sl-date">5 minutes ago</span>
                    <p>assign a new task
                      <a href="#"> Design weblayout</a>
                    </p>
                    <div class="row">
                      <div class="col-lg-3 col-md-6 m-b-20">
                        <img src="../assets/images/big/img1.jpg" class="img-responsive radius" />
                      </div>
                      <div class="col-lg-3 col-md-6 m-b-20">
                        <img src="../assets/images/big/img2.jpg" class="img-responsive radius" />
                      </div>
                      <div class="col-lg-3 col-md-6 m-b-20">
                        <img src="../assets/images/big/img3.jpg" class="img-responsive radius" />
                      </div>
                      <div class="col-lg-3 col-md-6 m-b-20">
                        <img src="../assets/images/big/img4.jpg" class="img-responsive radius" />
                      </div>
                    </div>
                    <div class="like-comm">
                      <a href="javascript:void(0)" class="link m-r-10">2 comment</a>
                      <a href="javascript:void(0)" class="link m-r-10">
                        <i class="fa fa-heart text-danger"></i> 5 Love</a>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="sl-item">
                <div class="sl-left">
                  <img src="../assets/images/users/2.jpg" alt="user" class="img-circle" /> </div>
                <div class="sl-right">
                  <div>
                    <a href="#" class="link">John Doe</a>
                    <span class="sl-date">5 minutes ago</span>
                    <div class="m-t-20 row">
                      <div class="col-md-3 col-xs-12">
                        <img src="../assets/images/big/img1.jpg" alt="user" class="img-responsive radius" />
                      </div>
                      <div class="col-md-9 col-xs-12">
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus
                          ante dapibus diam. </p>
                        <a href="#" class="btn btn-success"> Design weblayout</a>
                      </div>
                    </div>
                    <div class="like-comm m-t-20">
                      <a href="javascript:void(0)" class="link m-r-10">2 comment</a>
                      <a href="javascript:void(0)" class="link m-r-10">
                        <i class="fa fa-heart text-danger"></i> 5 Love</a>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="sl-item">
                <div class="sl-left">
                  <img src="../assets/images/users/3.jpg" alt="user" class="img-circle" /> </div>
                <div class="sl-right">
                  <div>
                    <a href="#" class="link">John Doe</a>
                    <span class="sl-date">5 minutes ago</span>
                    <p class="m-t-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus
                      ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
                      mauris. Fusce nec tellus sed augue semper </p>
                  </div>
                  <div class="like-comm m-t-20">
                    <a href="javascript:void(0)" class="link m-r-10">2 comment</a>
                    <a href="javascript:void(0)" class="link m-r-10">
                      <i class="fa fa-heart text-danger"></i> 5 Love</a>
                  </div>
                </div>
              </div>
              <hr>
              <div class="sl-item">
                <div class="sl-left">
                  <img src="../assets/images/users/4.jpg" alt="user" class="img-circle" /> </div>
                <div class="sl-right">
                  <div>
                    <a href="#" class="link">John Doe</a>
                    <span class="sl-date">5 minutes ago</span>
                    <blockquote class="m-t-10">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--second tab-->
        <div class="tab-pane animated fadeIn" id="profile" role="tabpanel">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 col-xs-6 b-r">
                <strong>Nombre</strong>
                <br>
                <p class="text-muted">{{usuario.nombre}}</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r">
                <strong>Teléfono</strong>
                <br>
                <p class="text-muted">{{usuario.telefono}}</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r">
                <strong>Email</strong>
                <br>
                <p class="text-muted">{{usuario.email}}</p>
              </div>
              <div class="col-md-3 col-xs-6">
                <strong>Área</strong>
                <br>
                <p class="text-muted text-capitalize">{{usuario.area}}</p>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div class="tab-pane animated fadeIn" id="settings" role="tabpanel">
          <div class="card-body">
            <form ngNativeValidate #form="ngForm" (ngSubmit)="actualizarUsuario(form.value)" class="form-horizontal form-material">
              <div class="form-group">
                <label class="col-md-12">Nombre completo</label>
                <div class="col-md-12">
                  <input [ngModel]="usuario.nombre" type="text" name="nombre" class="form-control form-control-line" placeholder="Nombre de usuario"
                    required>
                </div>
              </div>
              <div class="form-group">
                <label for="example-email" class="col-md-12">Email</label>
                <div class="col-md-12">
                  <input [ngModel]="usuario.email" [disabled]="usuario.google" type="email" name="email" class="form-control form-control-line"
                    placeholder="Correo usuario" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Teléfono</label>
                <div class="col-md-12">
                  <input [ngModel]="usuario.telefono" type="text" name="telefono" class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Dirección</label>
                <div class="col-md-12">
                  <input [ngModel]="usuario.direccion" type="text" name="direccion" class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-12">Seleccionar área</label>
                <div class="col-sm-12">
                  <select [ngModel]="usuario.area" name="area" class="form-control form-control-line">
                    <option value="administracion">Administración</option>
                    <option value="audiovisuales">Audiovisuales</option>
                    <option value="diseno">Diseño</option>
                    <option value="fotografia">Fotografía</option>
                    <option value="redaccion">Redacción</option>
                    <option value="development">Desarrollo</option>
                    <option value="movilidad">Movilidad</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Guardar</button>
                </div>
              </div>
            </form>
          </div>
          <hr>
          <div class="card">
            <div class="card-body" align="center">
              <h4 class="card-title">Imagen de perfil</h4>
              <h6 class="card-subtitle">Nombre usuario</h6>
              <img *ngIf="!imagenTemporal" [src]="usuario.img | imagen" class="w150" alt="usuario.nombre">
              <img *ngIf="imagenTemporal" [src]="imagenTemporal" class="w150" alt="">
              <input (change)="seleccionImagen($event.target.files[0])" type="file">
              <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10 mt-3">
                <i class="fa fa-save"></i>
                Actualizar foto</button>
            </div>
          </div>
        </div>
        <!-- -->
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
<!-- Row -->
<!-- ============================================================== -->
<!-- End Page Content Detalle usuario -->
<!-- ============================================================== -->